
{% extends 'pages/scaffold.html' %}
{% block content %}
<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
<h1>Welcome to the secure shop!</h1>
<p>Please use the search function to search for Items</p>
    <div class="input-group">
        <input  type="text" class="form-control input-lg">
            <span class="input-group-btn">
                <button class="btn btn-lg" type="button" id="listItems">Search</button>
            </span>
        </input>
    </div>
    <h3>or</h3>

    <a class="btn btn-default btn-lg" id="signinButton">Sign in</a>
</div>

<script>
    function init() {
        $(document).ready(function(){
            google.appengine.secure.shop.init('//' + window.location.host + '/_ah/api', google.appengine.secure.shop.enableButtons);
        });
    }
</script>
{% endblock %}