
{% extends 'pages/scaffold.html' %}
{% block content %}
<h1>Search for Items!</h1>
<div class="input-group">
    <input  type="text" class="form-control input-lg">
        <span class="input-group-btn">
            <button class="btn btn-lg" type="button" id="listItems">Search</button>
        </span>
    </input>
</div>


<script>
    function init() {
        $(document).ready(function(){
            google.appengine.secure.shop.init('//' + window.location.host + '/_ah/api', google.appengine.secure.shop.enableButtons);
        });
    }
</script>
{% endblock %}