{% extends 'pages/scaffold.html' %}
{% block content %}
<div id="item" data-id="{{ item_id }}"></div>
<h1 id="title"></h1>
<dl class="dl-horizontal">
    <dt>Description</dt>
    <dd id="description"> </dd>
</dl>
<dl class="dl-horizontal">
    <dt>Price</dt>
    <dd id="price"> </dd>
</dl>
<dl class="dl-horizontal">
    <dt>Seller</dt>
    <dd id="seller"> </dd>
</dl>
<dl class="dl-horizontal">
    <dt>Creation Time</dt>
    <dd id="created_at"> </dd>
</dl>
<script>
    function init() {
        $(document).ready(function(){
            google.appengine.secure.shop.init('//' + window.location.host + '/_ah/api', google.appengine.secure.shop.loadItem);
        });
    }
</script>
{% endblock %}