<!DOCTYPE html>
<html>
<head>
    <title>Hello Endpoints!</title>
    <script async src="/js/base.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="navigation">
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="/items">Items</a>
                <ul>
                    <li><a href="#">Shopping cart</a></li>
                    <li><a href="#">My items</a></li>
                    <li><a href="/add_item">Add item</a></li>
                </ul>
              </li>
              <li><a href="/user">User</a>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
              </li>
            </ul>
        </nav>
    </div>

    <div id="content" class="center-block">
        <form role="form">
          <div class="col-lg-6">
              <div class="form-group">
                <label for="item_name">Name</label>
                <input type="text" class="form-control" id="item_name" placeholder="Enter a name">
              </div>
          </div>
          <div class="form-group">
            <label for="item_description">Description</label>
            <input type="text" class="form-control" id="item_description" placeholder="Description">
          </div>
          <div class="form-group">
            <label for="item_price">Price</label>
            <input type="text" class="form-control" id="item_price">
          </div>
          <button type="submit" class="btn btn-default" id="signinButton">Sign in</button>
        </form>
        <script>
            function init() {
                google.appengine.secure.shop.init('//' + window.location.host + '/_ah/api');
            }
        </script>
        <script src="https://apis.google.com/js/client.js?onload=init"></script>
    </div>
</body>
</html>