<!DOCTYPE html>
<html>
<head>
    <title>Hello Endpoints!</title>
    <script async src="/js/base.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="navigation">
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="/items">Items</a>
                <ul>
                    <li><a href="#">Shopping cart</a></li>
                    <li><a href="#">My items</a></li>
                    <li><a href="#">Add item</a></li>
                </ul>
              </li>
              <li><a href="/user">User</a>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
              </li>
            </ul>
        </nav>
    </div>

    <div id="content" class="center-block">
        <div class="jumbotron">
            <h1>Welcome to the secure shop!</h1>
            <p>Please use the search function to search for Items</p>

                    <div class="input-group">
                        <input  type="text" class="form-control input-lg">
                        <span class="input-group-btn">
                            <button class="btn btn-lg" type="button" id="listItems">Search</button>
                        </span>
                    </div><!-- /input-group -->
            <h3>or</h3>

            <a class="btn btn-default btn-lg" id="signinButton">Sign in</a>

            <script>
                function init() {
                    google.appengine.secure.shop.init('//' + window.location.host + '/_ah/api');
                }
            </script>
            <script src="https://apis.google.com/js/client.js?onload=init"></script>
        </div>
    </div>
</body>
</html>